body {
  background-repeat: no-repeat;
  background-color: #000;
  overflow-x: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#logo {
  max-height: 400px;
  position: fixed;
  z-index: -5;
}

#particle-bg {
  position: fixed;
  z-index: -3;
  height: 100vh;
  left: 0;
  right: 0;
}

#nav-bar {
  position: fixed;
  z-index: 5;
}

.hackerz-brand {
  font-size: 1.2em;
  position: relative;
  top: 18px;
}

.event-container {
  height: 100vh;
}

.event-header {
  font-size: 2rem;
  text-align: center;
}

.glitch {
  position: relative;
  margin: 0 auto;
  color: #c1c1c1;
  text-align: center;
  letter-spacing: 0.01em;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

.glitch::before, .glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: #17141d;
  color: #c1c1c1;
  clip: rect(0, 900px, 0, 0);
}

.glitch::before {
  left: 7px;
  text-shadow: 1px 0 blue;
  animation: glitch-effect 3s infinite linear alternate-reverse;
}

.glitch::after {
  left: 3px;
  text-shadow: -1px 0 red;
  animation: glitch-effect 2s infinite linear alternate-reverse;
}

@-webkit-keyframes glitch-effect {
  0% {
    clip: rect(54px, 9999px, 87px, 0);
  }
  10% {
    clip: rect(69px, 9999px, 48px, 0);
  }
  20% {
    clip: rect(38px, 9999px, 55px, 0);
  }
  30% {
    clip: rect(48px, 9999px, 57px, 0);
  }
  40% {
    clip: rect(57px, 9999px, 68px, 0);
  }
  50% {
    clip: rect(51px, 9999px, 20px, 0);
  }
  60% {
    clip: rect(2px, 9999px, 30px, 0);
  }
  70% {
    clip: rect(42px, 9999px, 23px, 0);
  }
  80% {
    clip: rect(59px, 9999px, 67px, 0);
  }
  90% {
    clip: rect(45px, 9999px, 26px, 0);
  }
  100% {
    clip: rect(78px, 9999px, 34px, 0);
  }
}

@keyframes glitch-effect {
  0% {
    clip: rect(54px, 9999px, 87px, 0);
  }
  10% {
    clip: rect(69px, 9999px, 48px, 0);
  }
  20% {
    clip: rect(38px, 9999px, 55px, 0);
  }
  30% {
    clip: rect(48px, 9999px, 57px, 0);
  }
  40% {
    clip: rect(57px, 9999px, 68px, 0);
  }
  50% {
    clip: rect(51px, 9999px, 20px, 0);
  }
  60% {
    clip: rect(2px, 9999px, 30px, 0);
  }
  70% {
    clip: rect(42px, 9999px, 23px, 0);
  }
  80% {
    clip: rect(59px, 9999px, 67px, 0);
  }
  90% {
    clip: rect(45px, 9999px, 26px, 0);
  }
  100% {
    clip: rect(78px, 9999px, 34px, 0);
  }
}

.container2 {
  height: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  padding: 40px 0 0 40px;
  overflow-y: hidden;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
}

@media (min-width: 884px) {
  #workshops .container2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.container2::-webkit-scrollbar {
  height: 4px;
}

body::-webkit-scrollbar,
.modal::-webkit-scrollbar {
  width: 4px;
}

.container2::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
.modal::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.title {
  color: #fff;
  font-weight: 300;
}

.card2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 280px;
  min-width: 300px;
  background-color: #17141d;
  border-radius: 10px;
  -webkit-box-shadow: -1rem 0 1rem #000;
          box-shadow: -1rem 0 1rem #000;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card2 .title {
  color: #fff;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.card2:not(:first-child) {
  margin-left: -50px;
}

.card2:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: 0.9s ease-out;
  transition: 0.9s ease-out;
}

.card2:hover ~ .card2 {
  position: relative;
  left: 50px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.desc {
  color: #fff;
  font-size: 1rem;
  margin: 5px;
  padding: 5px;
  position: absolute;
  left: 10px;
  top: 70px;
  opacity: 0;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.bttn {
  height: 40px;
  opacity: 01;
  opacity: 0;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  background-color: transparent;
  color: #fff;
  position: relative;
  top: 80%;
  left: 4%;
  border: 1px solid #fff;
  font-size: 0.8rem;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 6px #17141d;
          box-shadow: 0 0 6px #17141d;
  padding: 5px 12px;
  text-decoration: none;
  cursor: pointer;
}

.bttn:hover {
  text-decoration: none;
  background-color: #fff;
  color: #17141d;
}

.card2:hover .desc,
.card2:hover .bttn {
  opacity: 1;
}

button:focus {
  outline: 0;
}
/*# sourceMappingURL=events.css.map */