body {
  background-color: #17141d;
  background-repeat: no-repeat;
  overflow: hidden;
  user-select: none;
}
#logo {
  max-height: 200px;
}
#logo-container {
  height: 100vh;
}
#timer {
  font-size: 2rem;
}
#particle-bg {
  position: fixed;
  z-index: -3;
  height: 100vh;
  left: 0;
  right: 0;
}

div#topDiv {
  width: 100%;
  height: 0%;
  opacity: 0.9;
  background: black;
  position: absolute;
  top: 0%;
}
div#bottomDiv {
  width: 100%;
  height: 0%;
  opacity: 0.9;
  background: black;
  position: absolute;
  bottom: 0%;
}
div#centerDiv {
  position: absolute;
  height: 1px;
  top: 50%;
  width: 100%;
  background: white;
  display: none;
  z-index: 1;
}
.nav-link {
  color: #0a557b;
  cursor: pointer;
}
$primaryColor: #fff;
$secondaryColor: #333;
$steps: 20;
.glitch {
  position: relative;
  margin: 0 auto;
  color: $primaryColor;
  font-family: "Exo", sans-serif;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.01em;
  transform: scale3d(1, 1, 1);

  &::before,
  &::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background: $secondaryColor;
    color: $primaryColor;
    clip: rect(0, 900px, 0, 0);
  }

  &::before {
    left: 7px;
    text-shadow: 1px 0 green;
    animation: glitch-effect 3s infinite linear alternate-reverse;
  }

  &::after {
    left: 3px;
    text-shadow: -1px 0 red;
    animation: glitch-effect 2s infinite linear alternate-reverse;
  }
}

@keyframes glitch-effect {
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
